# Assignment Topic:

I am interested in Data Science because I like the fact of imagination of various mathematical visualisations, data and patterns. It intrigues my curiosity to work on millions of data.

I was provided with an empty Jupyterlite notebook which I launched in the course, to complete this assignment. I needed to include a combination of markdown and code cells. I did not needed to use the Markdown cheat sheet to help me determine the appropriate syntax for my markdown.

# Guidelines for the submission:

# There are a total of 25 points possible for this final project.

I hope I will succeed, based on the following Exercises:

1. Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
2. Exercise 3 - Create a markdown cell for an introduction. (1 pt)
3. Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
4. Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
5. Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
6. Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
7. Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)
8. Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
9. Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
10. Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)
11. Exercise 12 - Share your notebook through GitHub (3 pts)
12. Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

# Exercise 1: Create a Jupyter Notebook

# Name: IBM Data Science Course - Peer graded Assignment Submitting My Work

# Exercise 2 - Create a markdown cell with the title of the notebook. (1pt)

# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction. (1 pt)

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:

- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science tools.

# Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C/C++
7. Julia
8. JavaScript
9. PHP
10. Go
11. Ruby
12. Visual Basic

# Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. SciKit-Learn
6. Keras
7. TensorFlow
8. PyTorch
9. Apache Spark
10. Vegas
11. Big DL
12. Ggplot2

# Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

|Data Science Tools|
|------------------|
|Anaconda|
|Jupyter Notebook|
|R Studio|
|Spyder|
|Zeppelin|

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)

# Result: 65449.84694978735

65449.84694978735

In [11]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)

# Result: 9

9

In [12]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)

# Result: 24

24

# Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

This a simple arithmetic expression to mutiply then add integers:

In [19]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

This will convert 200 minutes to hours by diving by 60:

In [20]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

# Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

# Objectives:

- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science tools.

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

# Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)

# Author(s)

Vincent Mukomba

# Exercise 12 - Share your notebook through GitHub (3 pts)

My Gitbub link: https://github.com/Vincemcomber

# Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

Jupyter Notebook Name: Vincent Jupyter Notebook on IBM Data Science Course